//dark theme

$bg_color_dark:  	 #111;
$hedding_yellow:	 #ffb400;
$cube_yellow:	 	 #ffb400;
$text_color_dark:	 #fff;
$black: 			 #2b2a2a;
$bs-primary: 		 #0d6efd;
$bs-secondary:		 #6c757d;
$bs-success:		 #198754;
$bs-info:			 #0dcaf0;
$bs-warning:		 #ffc107;
$bs-danger:			 #dc3545;
$bs-light:			 #f8f9fa;
$bs-dark:			 #212529;



$green:					#72b626;
$text_color_light: 		#666666 